In [112]:
# python List 
courses=['Maths','History','Machine Learning','NLP','Deep Learning','Statistics']

In [115]:
# forward / backward direction to retrieve values
courses[0], courses[-1]

('Maths', 'Statistics')

In [116]:
# incase of index doesnt exist python will through indexError
courses[-8]

IndexError: list index out of range

In [117]:
# How to retrieve multiple values using starting point index, and stop point. 
# Please note that, stop point index values doesnt include in the result
courses[0:2], courses[4:]

(['Maths', 'History'], ['Deep Learning', 'Statistics'])

In [120]:
# retrieve values from last / reverse
courses[-1:]

['Art']

In [119]:
# How to append values to list
courses.append('Art')

In [16]:
# How to insert into particular place using index. 
# Please note that this will not override the existing values, will move the values to next point
courses.insert(1,'Science')

In [17]:
# To retrieve all values
courses[:]

['Maths',
 'Science',
 'History',
 'Machine Learning',
 'NLP',
 'Deep Learning',
 'Statistics',
 'Art']

In [18]:
# How to append values with another list
courses_2 =['C','Java','.NET']
courses.append(courses_2)

In [123]:
# insert values with another list
# In this case, list of list
courses.insert(0,courses_2)
courses

[['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics'],
 ['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics'],
 'Maths',
 'History',
 'Machine Learning',
 'NLP',
 'Deep Learning',
 'Statistics',
 'Art',
 'modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics']

In [125]:
# Extend method will append values unlike above.
courses.extend(courses_2)
courses

[['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics'],
 ['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics'],
 'Maths',
 'History',
 'Machine Learning',
 'NLP',
 'Deep Learning',
 'Statistics',
 'Art',
 'modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics',
 'modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics',
 'modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics']

In [25]:
# How to remove values from List using remove method. 
courses.remove('Maths')

In [27]:
# using pop function, to remove/pop the values. index to be mentioned
courses.pop(0)

['C', 'Java', '.NET']

In [33]:
# pop function with negative index position the value from right to left
courses.pop(-4)

['C', 'Java', '.NET']

In [34]:
courses[:]

['Science',
 'History',
 'Machine Learning',
 'NLP',
 'Deep Learning',
 'Statistics',
 'Art',
 'C',
 'Java',
 '.NET']

In [128]:
# reverse the values in the list
courses.reverse()

In [129]:
courses[:]

['Statistics',
 'Science',
 'NLP',
 'Machine Learning',
 'Java',
 'History',
 'Deep Learning',
 'C',
 'Art',
 'modified.NET',
 'Statistics',
 'Science',
 'NLP',
 'Machine Learning',
 'Java',
 'History',
 'Deep Learning',
 'C',
 'Art',
 'modified.NET',
 'Statistics',
 'Science',
 'NLP',
 'Machine Learning',
 'Java',
 'History',
 'Deep Learning',
 'C',
 'Art',
 'modified.NET',
 'Art',
 'Statistics',
 'Deep Learning',
 'NLP',
 'Machine Learning',
 'History',
 'Maths',
 ['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics'],
 ['modified.NET',
  'Art',
  'C',
  'Deep Learning',
  'History',
  'Java',
  'Machine Learning',
  'NLP',
  'Science',
  'Statistics']]

In [130]:
courses.reverse()

In [139]:
# Sort function. Please note that, list of List gives some error. 
courses.sort()

courses

['Art',
 'Art',
 'Art',
 'Art',
 'C',
 'C',
 'C',
 'Deep Learning',
 'Deep Learning',
 'Deep Learning',
 'Deep Learning',
 'History',
 'History',
 'History',
 'History',
 'Java',
 'Java',
 'Java',
 'Machine Learning',
 'Machine Learning',
 'Machine Learning',
 'Machine Learning',
 'Maths',
 'NLP',
 'NLP',
 'NLP',
 'NLP',
 'Science',
 'Science',
 'Science',
 'Statistics',
 'Statistics',
 'Statistics',
 'Statistics',
 'modified.NET',
 'modified.NET',
 'modified.NET']

In [141]:
# sorted function, doesnt change original list, instead, it o/p with sorted list. This can be stored in another variable if needed.
# reverse order also can be specified.
sorted(courses,reverse=True)

['modified.NET',
 'modified.NET',
 'modified.NET',
 'Statistics',
 'Statistics',
 'Statistics',
 'Statistics',
 'Science',
 'Science',
 'Science',
 'NLP',
 'NLP',
 'NLP',
 'NLP',
 'Maths',
 'Machine Learning',
 'Machine Learning',
 'Machine Learning',
 'Machine Learning',
 'Java',
 'Java',
 'Java',
 'History',
 'History',
 'History',
 'History',
 'Deep Learning',
 'Deep Learning',
 'Deep Learning',
 'Deep Learning',
 'C',
 'C',
 'C',
 'Art',
 'Art',
 'Art',
 'Art']

In [52]:
courses[:]

['.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics']

In [55]:
num=[5,3,8,7,9,0,4]

In [56]:
num.sort(reverse=True)

In [57]:
print(num)

[9, 8, 7, 5, 4, 3, 0]

In [142]:
# get the index
courses.index('NLP')

23

In [143]:
# check if the value exist or not.
print('ML' in courses)

False

In [144]:
# how to iterate values in list
for course in courses:
    print(course)

Art
Art
Art
Art
C
C
C
Deep Learning
Deep Learning
Deep Learning
Deep Learning
History
History
History
History
Java
Java
Java
Machine Learning
Machine Learning
Machine Learning
Machine Learning
Maths
NLP
NLP
NLP
NLP
Science
Science
Science
Statistics
Statistics
Statistics
Statistics
modified.NET
modified.NET
modified.NET

In [145]:
# To get both key and vlaues use enumerate function
for i, course in enumerate(courses):
    print(i, course)

0 Art
1 Art
2 Art
3 Art
4 C
5 C
6 C
7 Deep Learning
8 Deep Learning
9 Deep Learning
10 Deep Learning
11 History
12 History
13 History
14 History
15 Java
16 Java
17 Java
18 Machine Learning
19 Machine Learning
20 Machine Learning
21 Machine Learning
22 Maths
23 NLP
24 NLP
25 NLP
26 NLP
27 Science
28 Science
29 Science
30 Statistics
31 Statistics
32 Statistics
33 Statistics
34 modified.NET
35 modified.NET
36 modified.NET

In [146]:
# join the values, with delimiter
courses_str = ','.join(courses)

print(courses_str)

Art,Art,Art,Art,C,C,C,Deep Learning,Deep Learning,Deep Learning,Deep Learning,History,History,History,History,Java,Java,Java,Machine Learning,Machine Learning,Machine Learning,Machine Learning,Maths,NLP,NLP,NLP,NLP,Science,Science,Science,Statistics,Statistics,Statistics,Statistics,modified.NET,modified.NET,modified.NET

In [147]:
# split the values with split function
new_list = courses_str.split(',')

In [148]:
print(new_list)

['Art', 'Art', 'Art', 'Art', 'C', 'C', 'C', 'Deep Learning', 'Deep Learning', 'Deep Learning', 'Deep Learning', 'History', 'History', 'History', 'History', 'Java', 'Java', 'Java', 'Machine Learning', 'Machine Learning', 'Machine Learning', 'Machine Learning', 'Maths', 'NLP', 'NLP', 'NLP', 'NLP', 'Science', 'Science', 'Science', 'Statistics', 'Statistics', 'Statistics', 'Statistics', 'modified.NET', 'modified.NET', 'modified.NET']

In [75]:
# list is mutable and Tuple is immutable.

In [149]:
courses_2 = courses

In [150]:
courses_2[0]='modified.NET'

In [151]:
print(courses)

['modified.NET', 'Art', 'Art', 'Art', 'C', 'C', 'C', 'Deep Learning', 'Deep Learning', 'Deep Learning', 'Deep Learning', 'History', 'History', 'History', 'History', 'Java', 'Java', 'Java', 'Machine Learning', 'Machine Learning', 'Machine Learning', 'Machine Learning', 'Maths', 'NLP', 'NLP', 'NLP', 'NLP', 'Science', 'Science', 'Science', 'Statistics', 'Statistics', 'Statistics', 'Statistics', 'modified.NET', 'modified.NET', 'modified.NET']

In [152]:
tuple_courses=('modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics')

In [153]:
print(tuple_courses)

('modified.NET', 'Art', 'C', 'Deep Learning', 'History', 'Java', 'Machine Learning', 'NLP', 'Science', 'Statistics')

In [154]:
tuple_courses_2 =tuple_courses

In [156]:
# Try to override the tuple value: This throws TypeError: 'tuple' object does not support item assignment
tuple_courses_2[0]='Again .NET'

TypeError: 'tuple' object does not support item assignment

In [157]:
# Set doesnt care about the order

Set_courses= {'modified.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics','Art'}

In [158]:
print(Set_courses)

{'Java', 'Machine Learning', 'Deep Learning', 'modified.NET', 'NLP', 'Art', 'Science', 'C', 'History', 'Statistics'}

In [ ]:
# SET removes duplicates

In [159]:
CS_courses= {'.NET',
 'C',
 'Deep Learning',
 'Java',
 'Machine Learning',
 'NLP', 'Science','Statistics'}

Art_courses= {'Art',
 'History',
 'Science',
 'Statistics'}

In [160]:
# Common values in set: intersection
CS_courses.intersection(Art_courses)

{'Science', 'Statistics'}

In [161]:
# Difference values  in Set: Please note that with respect to which Set, the difference values are given based on that SET only.
Art_courses.difference(CS_courses)

{'Art', 'History'}

In [162]:
CS_courses.difference(Art_courses)

{'.NET', 'C', 'Deep Learning', 'Java', 'Machine Learning', 'NLP'}

In [163]:
# Union two SETs and it removes duplicates values
Art_courses.union(CS_courses)

{'.NET',
 'Art',
 'C',
 'Deep Learning',
 'History',
 'Java',
 'Machine Learning',
 'NLP',
 'Science',
 'Statistics'}

In [110]:
# empty set

empty_set=set()

#empty list
# empty_list=[] or
# empty_list=[]

#empty Tuple

# empty_tuple=() or
empty_tuple =tuple()

In [164]:
empty_tuple

()